@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-line-empty: #e0e0e0;
  --border-line-fill: #3498db;
  --background-color: #f6f7fb;
  --component-height: 100vh;
}

body {
  background-color: var(--background-color);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--component-height);
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container:before {
  content: "";
  position: absolute;
  background-color: var(--border-line-empty);
  height: 4px;
  top: 50%;
  left: 0%;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  content: "";
  position: absolute;
  background-color: var(--border-line-fill);
  height: 4px;
  top: 50%;
  left: 0%;
  width: 0%;
  z-index: -1;
  transform: translateY(-50%);
  transition: width 0.5s ease;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--border-line-empty);
  transition: border 0.1s ease;
}

.circle.active {
  border-color: var(--border-line-fill);
  transition: border 0.3s ease 0.2s;
}

.btn {
  font: inherit;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background-color: var(--border-line-fill);
  padding: 8px 30px;
  color: white;

  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--border-line-empty);
  cursor: not-allowed;
}
